[Unit]
Description=Prometheus kafka_exporter
Documentation=https://github.com/danielqsj/kafka_exporter
After=network-online.target

[Service]
User={{ kafka_exporter_user }}
Group={{ kafka_exporter_user }}
Type=simple
ExecStart={{ exporter_bin_dir }}/kafka_exporter \
    --web.listen-address={{ exporter_listen_address }}:{{ kafka_exporter_port }} \
{% for broker in kafka_brokers %}
    --kafka.server={{ broker }} \
{% endfor %}
{% if kafka_sasl_enabled %}
    --sasl.enabled \
    --sasl.username={{ kafka_sasl_username | default('') }} \
    --sasl.password={{ kafka_sasl_password | default('') }} \
    --sasl.mechanism={{ kafka_sasl_mechanism | default('plain') }} \
{% endif %}
{% if kafka_tls_enabled %}
    --tls.enabled \
{% endif %}
    --topic.filter=".*" \
    --group.filter=".*"
Restart=on-failure
RestartSec=10s
SyslogIdentifier=kafka-exporter

NoNewPrivileges=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
